<?xml version="1.0" encoding="windows-1252"?>

<!--
    Document   : logback-test.xml
    Created on : 9. Mai 2009, 00:45
    Author     : Administrator
    Description:
        Purpose of the document follows.
-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-5level: %d{ss.SSS} %-18logger{0} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>